html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #111;
  font-family: "Segoe UI", Roboto, sans-serif;
}
main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}
